.Our_Vision{
    margin-top: 50px;
}
.Content_wrapper{
    position: relative;
}
.content{
    position: absolute;
    top:25%;
    left:28%;
    transform: translate(-50%,-50%);
    width: 30%;
}
.content h5{
color: #0C65E5;
}
.content p{
   font-size: 20px;
}


.tokens .token_content{
    width:70%;
    margin:0 auto;
    text-align: center;
}
.tokens .token_content h5{
    color: #0C65E5;
}
.tokens .token_content p{
   font-size: 20px;
}

.tokens .cards_wrapper{
    margin-top: 100px;
}
.tokens .cards_wrapper .cards{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .2s linear;
    cursor: pointer;
}
.tokens .cards_wrapper .cards:hover{
    transform: translateY(-10px);
    box-shadow: rgba(40, 40, 59, 0.3) 5px 10px 20px ,rgba(40, 40, 59, 0.1) -1px -5px 10px 
}



@media only screen and (max-width: 768px) {
    .Content_wrapper{
        position: static;
    }
.content{
    position: static;
   top:0;
   left:0;
   transform: translate(0,0);
   width: 70%;
   text-align: center;
   margin: 50px auto ;
}
}