section.intro_content{
margin-top: 100px;
}
.content{
    text-align: center;
}
.content h5{
    color: #0C65E5;
 }
 .content p{
    font-size: 20px;
 }


 .section_main{
     margin-top: 100px;
 }
 .main{
  /* background-image: url('../assets/Union\ 3.png'); */
     background-repeat: no-repeat;
     background-size: contain;
     background-position: 65px 30px;
     padding-bottom: 50px;
 }   
 .main .message_img{
     display: block;
     width:60%;
     margin: 0 auto;
 }

.main input,textarea{
    border-radius: 7px;
    padding:10px 10px;
    outline: none;
    border:1px solid #0C65E5;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    width:100%;
    resize: none;
    font-size: 20px;
}
.main button.submit{
    outline: none;
    border: none;
    padding:10px 10px;
    border-radius: 7px;
    width: 100%;
    background-color: #0C65E5;
    color:#FFFFFF;
    font-size: 20px;
}
.main textarea{
    height:175px
}
::placeholder{
    color:#CDD2DD;
}
.extra_info p {
    font-size: 18px;
}
.bounty_content p {
    font-size: 18px;
}

.extra_info{
    width:80%;
}


  

 
  @media only screen and (max-width: 1000px) {
    .bounty_content{
        margin-top: 50px;
    }
    .extra_info{
        width:100%;
    }
 
}