body {
    margin: 0px;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.social_media_links{
    position: fixed;
    z-index: 100;
    right:0;
    top:50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.social_media_links:after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    filter: blur(40px) brightness(70%);
    background-color: rgba(255, 255, 255,0.8);
    z-index:-1;
}
.social_media_links img{
    display: block;
    width:40%;
    margin:25px auto;
}
.social_media_links a:nth-child(1) img{
    width:25%
}

#keyPointSection {
    position: relative;
    height: 300px;
}

.keyPoint_box {
    position: absolute;
    top: -120px;
}

.keyPoint_box2 {
    top: -160px;
}
#main-navigation{
    margin:0 auto
}
#main-navigation ul li a {
    color: #0C65E5;
}
.ideal-logo {
    width: 100%;
    height: 100%;
}
.ideal-logo img {
    width: 75px;
}
#logixCoinHeader {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: white;
     box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
}

.email-logo img {
    width: 30px;
}
.email {
    margin-left: 10px;
}
.email a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.email a:hover {
    color: black;
    text-decoration: none;
}
/* cards style and hover */
.keyPoint_box:hover,.card1_box:hover{
    transform: translateY(-10px);
    box-shadow: rgba(40, 40, 59, 0.3) 5px 10px 20px ,rgba(40, 40, 59, 0.1) -1px -5px 10px 
 }
 .keyPoint_box,.card1_box{
     border-radius: 8px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     transition: all .2s linear;
     cursor: pointer;
 }
/* --------first section css------ */
#firstSection {
    background-image: url('../images/lndd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    /* position: relative; */
}
.ill_content h1{
color: white;
}
.ill_content h3 {
    color: white;
}
.ill_content p {
    color: white;
}
.ill-image {
    width: 100%;
    margin-top: 21%;
}
.ill-image img {
    display: block;
    width:100%;
}
.first-inner-info h3 {
    margin-bottom: 10px;
}
.first-inner-info h1 {
    margin-bottom: 30px;
}
.first-inner-info {
    margin-top: 40%;
    width: 80%;
}
.first-inner-info button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    border-radius: 38px;
    height: 50px;
    font-size: 18px;
    width: 33%;
}
.first-inner-info button a {
    color: #0C65E5;
    text-decoration: none;
}
.first-inner-info button a:hover {
    text-decoration: none;
}
.world-image img {
    width: 530px;
}
.third-inner-info {
    margin-left: 20px;
}
.third-inner-info h4 {
    color: #0C65E5;
}
.fifth-inner-info {
    margin-top:5%!important;

}
.fifth-inner-info button {
    border: none;
    background-color:#0C65E5;
    border-radius: 38px;
    height: 50px;
    font-size: 18px;
    width: 33%; 
}
.fifth-inner-info button a {
    color: white;
}
.bookPages-image img {
    width: 500px;
}
#last_innerInfo {
    width: 80%;
}
.last_name {
    margin-top: 30px;
}
#fifthSection {
    background-image:url('../images/grey.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7%;
}
.background_map2 {
    background-image: url('../images/Union\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#whyChooseSection {
    background-image: url('../images/why_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 736px;
}
.logix-coin-heading h5 {
    color: white;
}
.logix-coin-heading h2 {
    color: white;
}
.logix-coin-heading {
    text-align: center;
    padding-top: 40px;
}
.logix-coin-logo-image img { 
    width: 80%;
}
.logix-coin-logo-image {
    margin-top: 25%;
}
#logixCoinLogoSection {
    background-image: url('../images/rect_hexagon.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    margin-bottom: 5%;
    
}
#questionAnswerSection {
    margin-top: 10%;
    margin-bottom: 10%;
}
.ques_ans_heading {
    text-align: center;
    margin-bottom: 10%;
}
.ques_ans_heading h5 {
    color: #0C65E5;
}
.ques_ans_content {
    width: 90%;
}
#question {
    font-size: 24px;
}
.card1_box img {
    width: 150px;
}
.card1_box {
    background-color: white;
    border: none;
    width: 90%;
    height: 370px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    text-align: center;
}
.card1_box h2 {
    margin-top: 15px;
}
.profile_firstname {
    color: #0C65E5;
}
.profile_surname {
    color: black;
}
#profile_job {
    color: #0C65E5;
}
.laptop-image img {
    width: 550px;
    
}
.why-choose-logix-content {
    display:flex;
    
}
.why-choose-logix-heading {
    margin-top: 35px;
}
.laptop-image {
    margin-top: 35px;
}
.why-choose-logix-heading h5 {
    padding-top: 10%;
    color: white;
}
.why-choose-logix-heading h1 {
    margin-top: 12px;
    margin-bottom: 24px;
    color: white;
}
.why-choose-logix-heading p {
    margin-bottom: 10%;
    color: white;
}
.why-choose-logix-content input {
    height: 8vh;
    width: 8vw;
    align-items: flex-start;
}
.why-choose-logix-content label {
    margin-left: 20px;
    margin-bottom: 0px!important;
    font-size: 14px;
    margin-top: 5px;
    color: white;
}
#whyChooseSection .container .laptop-image img {
    margin-left: 22%;
    margin-right: 0;
    padding-right: 0;
    max-width: 100%;
}
.keyPoint_box {
    text-align: center;
    border: none;
    width: 90%;
    height: 370px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    background-color: white;
    padding: 30px;
     /* position: absolute; */
    /* bottom: 30%;  */
}


.keyPoint_box p {
    font-size: 14px;
}
.keyPoint_box img {
    width: 150px;
    margin-bottom: 20px;
}

/* -------------footer css--------- */
footer{
    position: relative;
    margin-top: 100px;
    width:100%;
    height:500px;
    background: url('../images/Intersection\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 60px;
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 40px;
   width:80%;
   height:80%;
   margin:0 auto;
   background-color: white;
   border-radius: 10px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.5) 0px 2px 6px 2px;
}
.logo img{
    width:20%
}
.logo_content p{
    width:70%;
    color:#292928;
    line-height: 20px;
}
.keyLinks_wrapper h5,.Otherlinks_wrapperr h5{
    color:#0C65E5
}

.list ul{
    list-style: none;
    padding:0
 }
 
 .list ul li{
     margin: 5px 0;
  }
  .list ul li a{
     text-decoration: none;
     color:#292928
  }
 
  .footer_line{
      width:85%;
      margin: 40px auto 0 auto;
      display: block;
  }

  footer >p {
      margin:20px 0;
      text-align: center;
      color:#FFFFFF
  }

  @media only screen and (max-width: 1000px) {
    footer{
      height:667px;
    }
  .footer_content{
      width:80%;
      padding:0 0px;
  }
}

  /* ----------Responsive CSS------ */
  @media only screen and (max-width: 600px) {
      body {
          overflow-x: hidden;
      }
      #firdtSection {
          height: 1000px;
      }
      .ill-image img {
          width: 300px;
      }
      .first-inner-info button {
          width: 50%;
      }
      .keyPoint_box {
          margin-bottom: 30px;
          width: 100%;
      }
      .world-image img {
          width: 300px;
      }
      #whyChooseSection .container .laptop-image img {
          margin-left: 2%;
      }
      .mask-image img {
          width:200px;
      }
      .card1_box {
          margin-bottom: 30px;
          width: 100%;
      }
      #logixCoinLogoSection {
          height: 100%;
          background-size: auto;
      }
      .logix-coin-logo-image img {
          width: 100px;
      }
      .last_name {
          margin-top: 0px;
      }
      #fifthSection {
          background-image:unset;
         margin-top: 70%;
      }
      .bookPages-image img {
          width: 330px;
      }
      .logix-coin-logo-image {
          margin-top: 0px!important;
      }
  }
  @media only screen and (max-width: 1400px) {
  #firstSection {
    background-image: url('../images/lndd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 771px;
    /* position: relative; */
}
  }

  @media only screen and (max-width: 767px) {
    .first-inner-info{
        margin-top: 10%;
    }
    .ill-image{
        margin-top: 5%;
    }
    #firstSection {
      background-image: url('../images/lndd.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 950px;
      /* position: relative; */
  }
    }